 /*css document */
 
 *,
 *:after,
 *:before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -o-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;
     margin: 0;
     padding: 0
 }
 
 html,
 body {
     direction: rtl;
     position: relative;
     min-height: 100px;
     font-family: "JF-Flat-regular";
 }
 
 ul,
 ol {
     margin: 0;
     padding: 0;
     list-style: none;
 }
 
 a,
 ul,
 button,
 li,
 i,
 h1,
 h2,
 h3,
 h4,
 h5,
 img {
     transition: all .2s ease-in-out;
     -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
     -o-transition: all .2s ease-in-out
 }
 
 a:hover,
 a:focus {
     text-decoration: none
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     margin: 0
 }
 
 @font-face {
     font-family: "JF-Flat-regular";
     src: url("../fonts/JF-Flat-regular.eot") format("embedded-opentype"), url("../fonts/JF-Flat-regular.woff") format("woff"), url("../fonts/JF-Flat-regular.ttf") format("truetype")
 }
 /* html {
    scroll-behavior: smooth;
} */
 /*===================================================*/
 /** start top-header **/
 /*===================================================*/
 
 .top-header {
     background-color: #2d3e50;
     padding: 5px 0;
     color: #fff
 }
 
 .top-header .lang {
     font-size: 13px;
     display: flex;
     justify-content: flex-start;
     align-items: center
 }
 
 .top-header .lang .ar-r a,
 .top-header .lang .en-e a {
     padding: 2px 5px;
     color: #fff
 }
 
 .top-header .lang .ar-r a {
     color: #db1113
 }
 
 .top-header .lang .en-e {
     border-right: 1px solid #737373;
     padding-top: 2px
 }
 
 .top-header .social {
     display: flex
 }
 
 .top-header .social ul {
     padding: 0;
     margin: 0;
     display: flex;
     align-items: center;
     list-style: none
 }
 
 .top-header .social ul li {
     padding: 10px;
 }
 
 .top-header .social ul li a {
     color: #fff
 }
 
 .top-header .social ul li a:hover {
     opacity: .65
 }
 
 .top-header .top-info {
     display: flex;
     padding-right: 5px
 }
 
 .top-header .top-info .email-info {
     padding: 3px
 }
 
 .top-header .top-info .email-info a {
     color: #fff
 }
 
 .top-header .phone-num {
     padding: 3px;
     margin-right: 5px;
     display: inline-block;
     border-right: 1px solid #737373
 }
 
 .top-header .phone-num a {
     color: #fff
 }
 /*===================================================*/
 /** end top-header **/
 /*===================================================*/
 /*===================================================*/
 /** start top-nav **/
 /*===================================================*/
 
 .top-header .top-nav {
     position: relative;
     display: flex;
     justify-content: flex-end;
     padding-left: 20px
 }
 
 .top-header .top-nav .text-title {
     display: inline-block;
     margin-left: 10px;
     color: #db1113
 }
 
 .top-header .parent-menue {
     position: relative;
 }
 
 .top-header .parent-menue>li {
     position: relative;
 }
 
 .top-header .parent-menue>li>a {
     /*display: block;*/
     font-size: 14px;
     position: relative;
     color: #fff
 }
 
 .top-header .parent-menue .chlid {
     position: absolute;
     z-index: 999999999999999999999999;
     background-color: #eee;
     border: 1px solid #f0f0f0;
     width: 210px;
     height: auto;
     top: 42px;
     left: -7px;
     margin-top: 30px;
     opacity: 0
 }
 
 .top-header .parent-menue .chlid:before {
     top: -17px;
     left: 5px;
     position: absolute;
     content: '';
     display: block;
     border: 8px solid transparent;
     border-bottom: 8px solid #eee;
 }
 
 .top-header .chlid>li {
     border-bottom: 1px solid #dbdbdb;
 }
 
 .top-header .chlid>li>a {
     padding: 10px;
     display: block;
     color: #2d3e50;
     font-size: 13px;
 }
 
 .top-header .chlid>li>a .m-icon {
     transform: rotate(180deg);
 }
 
 .top-header .chlid .text {
     margin-right: 2px;
 }
 
 .top-header .chlid>li:hover {
     padding-right: 10px;
     background-color: #2d3e50;
 }
 
 .top-header .chlid .chlid-link:hover {
     color: #fff
 }
 
 .parent-menue>li:hover .chlid {
     opacity: 1;
     margin-top: 0
 }
 /*===================================================
          /** end top-nav **/
 /*===================================================*/
 /*===================================================*/
 /** start navbar-default **/
 /*===================================================*/
 
 .navbar-default {
     position: relative;
     padding-top: 5px;
     padding-bottom: 5px;
     background-color: #fff;
     margin-bottom: 0;
     border-radius: 0;
     box-shadow: 0 0 15px rgba(0, 0, 0, .199)
 }
 
 .fixed {
     width: 100%;
     position: fixed;
     top: 0;
     right: 0;
     z-index: 99999999999999999999
 }
 
 .navbar>.container .navbar-brand>img {
     width: 55%;
     display: block;
     margin-top: -13px;
 }
 
 .navbar-default .navRight>li>a {
     color: #2d3e50;
     font-size: 12px;
     font-weight: 700;
     position: relative;
     border-left: 1px solid #eaedf1
 }
 
 .navbar-default .navRight>li:last-child>a {
     border: none
 }
 
 .navbar-default .navRight>li>a:hover {
     color: #db1113
 }
 
 .navbar-default .navRight>li>a:after {
     display: block;
     position: absolute;
     width: 0;
     height: 4px;
     right: 0;
     top: 101%;
     content: '';
     background-color: #db1113;
     transition: all ease-in-out .2s;
     -webkit-transition: all ease-in-out .2s;
     -moz-transition: all ease-in-out .2s;
 }
 
 .navbar-default .navRight>li>a:hover::after {
     width: 100%
 }
 
 .navbar-default .navRight>.active>a,
 .navbar-default .navRight>.active>a:focus {
     background-color: transparent;
     color: #2d3e50
 }
 
 .navbar-default .navRight>.active>a:hover {
     color: #db1113;
     background-color: transparent
 }
 
 .navbar-default .navLeft {
     margin-top: 2px;
     padding: 0 10px 0 0;
     position: relative
 }
 
 .navbar-default .navLeft>li {
     position: relative;
     margin-right: 2px
 }
 
 .navbar-default .navLeft>li>a {
     text-align: center;
     font-size: 14px;
     font-weight: 400;
     position: relative;
     padding: 10px 15px 10px 20px;
     width: 200px;
     z-index: 1
 }
 
 .navbar-default .navLeft>li:first-child>a {
     color: #2d3e51;
     background-color: #fff
 }
 
 .navbar-default .navLeft>li:first-child>a:hover {
     opacity: .77
 }
 
 .navbar-default .navLeft>li:last-child>a {
     background-color: #2d3e51;
     border: 2px solid #2d3e51;
     color: #fff
 }
 
 .navbar-default .navLeft>li:last-child>a:after {
     position: absolute;
     display: block;
     content: '';
     top: 0;
     right: 0;
     width: 100%;
     height: 0;
     background-color: #fff;
     transition: all ease-in-out .4s;
     -webkit-transition: all ease-in-out .4s;
     -moz-transition: all ease-in-out .4s;
     -o-transition: all ease-in-out .4s;
     z-index: -1
 }
 
 .navbar-default .navLeft>li:last-child>a:hover {
     background-color: #fff;
     border-color: #2d3e51;
     color: #2d3e51;
 }
 
 .navbar-default .navLeft>li:last-child>a:hover:after {
     height: 100%;
 }
 
 .navbar-default .navbar-toggle {
     background-color: #db1113;
     border: none;
     border-radius: 0;
 }
 
 .navbar-default .navbar-toggle .icon-bar {
     background-color: #fff
 }
 
 .navbar-default .navbar-toggle:hover,
 .navbar-default .navbar-toggle:focus {
     background-color: #db1113
 }
 /*===================================================*/
 /** end navbar-default **/
 /*===================================================*/
 /*===================================================*/
 /** start home-carousel **/
 /*===================================================*/
 
 .carousel-inner {
     background: url('../imgs/BG.jpg');
 }
 
 .carousel-caption {
     text-shadow: none;
 }
 
 .carousel-inner .content h2 {
     color: #db1113;
     font-size: 30px;
     font-weight: 700
 }
 
 .carousel-inner .content p {
     margin: 15px 0;
     font-size: 17px;
     line-height: 27px;
     color: #2d3e51
 }
 
 .carousel-inner .content a {
     color: #fff;
     padding: 8px 50px;
     background-color: #2d3e51;
     border: 1px solid #2d3e51;
 }
 
 .carousel-inner .content a:hover {
     box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
     -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
     -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, .4)
 }
 
 .carousel-inner .img-parent img {
     max-width: 100%
 }
 
 .carousel-control.right,
 .carousel-control.left {
     display: none;
 }
 
 .carousel-caption {
     position: static;
     display: flex;
     align-items: center;
 }
 
 .carousel-indicators li {
     background-color: #fff;
     border-color: #db1113
 }
 
 .carousel-indicators .active {
     background-color: #db1113
 }
 /*===================================================*/
 /** end home-carousel **/
 /*===================================================*/
 /*===============================================*/
 /****  start home-aboutUs ****/
 /*===============================================*/
 
 .aboutUs {
     padding: 100px 0;
     position: relative;
     background: #f3f3f3 url(../imgs/about.png) no-repeat top left;
     background-size: 60% 100%
 }
 
 .aboutUs .data p {
     text-align: center;
     line-height: 27px;
     font-weight: 700
 }
 
 .aboutUs .data p a {
     color: #db1113;
     font-size: 15px;
     font-weight: 700
 }
 /*===============================================*/
 /****  end home-aboutUs ****/
 /*===============================================*/
 /*===============================================*/
 /****  start articles-slider ****/
 /*===============================================*/
 
 .articles-slider {
     position: relative;
     padding: 30px 0;
     background-color: #fbfbfb
 }
 
 .articles-slider .title h3 {
     position: relative;
     padding: 1px 0 10px 0;
     border-bottom: 1px solid #ddd;
 }
 
 .articles-slider .title h3:after {
     position: absolute;
     display: block;
     background-color: #db1113;
     content: '';
     bottom: -2px;
     right: 0;
     width: 90px;
     height: 3px
 }
 
 .articles-slider .other {
     margin-top: 30px;
 }
 
 .articles-slider .owl-carousel {
     position: relative;
     margin-top: 15px;
 }
 
 .articles-slider .owl-carousel .parent {
     position: relative;
     padding: 2px;
     border: 1px solid #f1f1f1;
 }
 
 .articles-slider .owl-carousel .parent>.img-parent>.icon {
     position: absolute;
     top: 10px;
     left: 10px;
     width: 35px;
     height: 35px;
     color: #fff;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #2d3e51
 }
 
 .articles-slider .owl-carousel .parent>.content {
     padding: 10px 0;
 }
 
 .articles-slider .content h4 {
     margin: 10px 2px;
 }
 
 .articles-slider .content h4 a {
     font-size: 15px;
     color: #db1113
 }
 
 .articles-slider .content h4 a:hover {
     opacity: .67
 }
 
 .articles-slider .content p {
     margin: 10px 2px;
     line-height: 24px;
     font-size: 13px
 }
 
 .articles-slider .content .details {
     display: block;
     width: 130px;
     text-align: center;
     margin: 5px auto !important;
     padding: 5px 40px;
     background-color: #2d3e51;
     border: 1px solid #2d3e51;
     color: #fff
 }
 
 .articles-slider .content .details:hover {
     box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
     -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
     -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, .4)
 }
 
 .articles-slider .content .details:hover,
 .articles-slider .content .details:focus {
     outline: none !important;
 }
 
 .articles-slider .owl-theme .owl-dots {
     display: none;
 }
 
 .articles-slider .owl-theme .owl-nav {
     position: absolute;
     width: 70px;
     left: 0;
     top: -90px
 }
 
 .articles-slider .owl-theme .owl-nav [class*=owl-] {
     font-size: 55px;
     font-weight: 700;
     /*background-color: #db1113;*/
     /*padding: 0  10px !important;*/
     border-radius: 0;
     color: #db1113
 }
 
 .articles-slider .owl-theme .owl-nav [class*=owl-]:hover,
 .articles .owl-theme .owl-nav [class*=owl-]:focus {
     background: none;
     outline: none;
 }
 /*===============================================*/
 /****  end articles-slider ****/
 /*===============================================*/
 /*===============================================*/
 /****  start home-donation-request ****/
 /*===============================================*/
 
 .donation-request {
     position: relative;
     padding: 30px 0;
     background-color: #f5f5f5;
     border-top: 1px solid #ddd;
 }
 
 .donation-request h3 {
     position: relative;
     padding: 1px 0 10px 0;
     border-bottom: 1px solid #ddd;
 }
 
 .donation-request h3:after {
     position: absolute;
     display: block;
     background-color: #db1113;
     content: '';
     bottom: -2px;
     right: 0;
     width: 127px;
     height: 3px
 }
 
 .donation-request .my-select {
     margin-top: 20px
 }
 
 .donation-request .my-select .select-wrapper {
     position: relative;
 }
 
 .donation-request .my-select .select-wrapper:focus,
 .donation-request .my-select .select-wrapper:active {
     border-color: #f1f1f1;
     outline: none;
     outline-color: transparent;
 }
 
 .donation-request .my-select .select-wrapper:after {
     font-family: FontAwesome;
     content: '\f107';
     font-size: 28px;
     position: absolute;
     top: 4px;
     left: 20px;
     color: #434B67;
     pointer-events: none;
 }
 
 .donation-request .my-select .select-wrapper:before {
     display: block;
     content: '';
     position: absolute;
     left: 52px;
     width: 1px;
     height: 100%;
     background-color: #ddd;
 }
 
 .donation-request .my-select select {
     background: #fbfbfb;
     border: 1px solid #f1f1f1;
     border-radius: 45px;
     width: 100%;
     padding: 13px;
     -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearance: none;
     -o-appearance: none;
     appearance: none;
 }
 
 .donation-request .my-select select:focus,
 .donation-request .my-select select:active {
     border-color: #f1f1f1;
     outline: none;
     outline-color: transparent;
 }
 
 .donation-request .searh {
     position: relative;
     margin-top: 20px;
 }
 
 .donation-request .searh button {
     width: 50px;
     height: 50px;
     font-size: 17px;
     border-radius: 40px;
     background-color: #fff;
     border: 1px #fff solid;
     color: #db1113;
 }
 
 .donation-request .searh button:hover {
     background-color: #db1113;
     color: #fff;
 }
 
 .donation-request .searh button:focus {
     outline: none;
 }
 
 .donation-request .other-row {
     margin-top: 20px
 }
 
 .donation-request .parent {
     margin-top: 15px;
     border-top-right-radius: 90px;
     border-bottom-right-radius: 90px;
     padding: 5px;
     background-color: #fff
 }
 
 .donation-request .parent .type {
     text-align: center;
     line-height: 85px;
     font-size: 33px;
     font-weight: 700;
     width: 85px;
     height: 85px;
     border-radius: 50%;
     background-color: #f8f8f8
 }
 
 .donation-request .parent .details {
     padding: 5px 20px 0 0
 }
 
 .donation-request .parent .details p {
     line-height: 25px;
     font-weight: 700
 }
 
 .donation-request .parent .link-left {
     margin-top: 17px;
 }
 
 .donation-request .parent .link-left a {
     padding: 12px 40px;
     background-color: #f1f1f1;
     color: #000;
     border: 1px #f1f1f1 solid;
 }
 
 .donation-request .parent .link-left a:focus {
     outline: none;
 }
 
 .donation-request .parent .link-left a:hover {
     color: #fff;
     background-color: #2d3e50;
     border-color: #2d3e50;
     box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
     -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
     -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
 }
 
 .donation-request .know-more {
     margin-top: 25px
 }
 
 .donation-request .know-more a {
     padding: 8px 50px;
     color: #fff;
     background-color: #2d3e50;
     border: 1px solid #2d3e50;
 }
 
 .donation-request .know-more a:hover {
     padding: 8px 50px;
     color: #fff;
     background-color: #2d3e50;
     border: 1px solid #2d3e50;
     box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
     -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
     -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, .4)
 }
 /*===============================================*/
 /****  end home-donation-request ****/
 /*===============================================*/
 /*===============================================*/
 /****  start donation-requests-page ****/
 /*===============================================*/
 
 .donation-requests {
     position: relative;
     padding: 30px 0;
     background-color: #f5f5f5;
     border-top: 1px solid #ddd;
 }
 
 .donation-requests .heading-title .breadcrumb {
     padding: 12px;
     margin-bottom: 0;
     border: 1px solid #f1f1f1;
     background-color: #fff;
     border-radius: 0;
 }
 
 .donation-requests .heading-title .breadcrumb a {
     color: #848484
 }
 
 .donation-requests .heading-title .breadcrumb>li:last-child a {
     color: #2d3e50
 }
 
 .donation-requests h3 {
     position: relative;
     padding: 1px 0 10px 0;
     border-bottom: 1px solid #ddd;
 }
 
 .donation-requests h3:after {
     position: absolute;
     display: block;
     background-color: #db1113;
     content: '';
     bottom: -2px;
     right: 0;
     width: 127px;
     height: 3px
 }
 
 .donation-requests .second-row {
     margin-top: 55px;
 }
 
 .donation-requests .third-row {
     border: 1px solid #f0f0f0;
     margin-top: 15px
 }
 
 .donation-requests .my-select {
     margin-top: 20px
 }
 
 .donation-requests .my-select .select-wrapper {
     position: relative;
 }
 
 .donation-requests .my-select .select-wrapper:focus,
 .donation-requests .my-select .select-wrapper:active {
     border-color: #f1f1f1;
     outline: none;
     outline-color: transparent;
 }
 
 .donation-requests .my-select .select-wrapper:after {
     font-family: FontAwesome;
     content: '\f107';
     font-size: 28px;
     position: absolute;
     top: 4px;
     left: 20px;
     color: #434B67;
     pointer-events: none;
 }
 
 .donation-requests .my-select .select-wrapper:before {
     display: block;
     content: '';
     position: absolute;
     left: 52px;
     width: 1px;
     height: 100%;
     background-color: #ddd;
 }
 
 .donation-requests .my-select select {
     background: #fbfbfb;
     border: 1px solid #f1f1f1;
     border-radius: 45px;
     width: 100%;
     padding: 13px;
     -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearance: none;
     -o-appearance: none;
     appearance: none;
 }
 
 .donation-requests .my-select select:focus,
 .donation-requests .my-select select:active {
     border-color: #f1f1f1;
     outline: none;
     outline-color: transparent;
 }
 
 .donation-requests .searh {
     position: relative;
     margin-top: 20px;
 }
 
 .donation-requests .searh button {
     width: 50px;
     height: 50px;
     font-size: 17px;
     border-radius: 40px;
     background-color: #fff;
     border: 1px #fff solid;
     color: #db1113;
 }
 
 .donation-requests .searh button:hover {
     /*box-shadow: 0 3px 4px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 3px 4px rgba(0,0,0,.4);
    -moz-box-shadow: 0 3px 4px rgba(0,0,0,.4);*/
     background-color: #db1113;
     color: #fff
 }
 
 .donation-requests .searh button:focus {
     outline: none;
 }
 /*.donation-requests .other-row{
    margin-top: 20px
}*/
 
 .donation-requests .parent {
     margin-top: 15px;
     border-top-right-radius: 90px;
     border-bottom-right-radius: 90px;
     padding: 5px;
     background-color: #fff
 }
 
 .donation-requests .parent .type {
     text-align: center;
     line-height: 85px;
     font-size: 33px;
     font-weight: 700;
     width: 85px;
     height: 85px;
     border-radius: 50%;
     background-color: #f8f8f8
 }
 
 .donation-requests .parent .details {
     padding: 5px 20px 0 0
 }
 
 .donation-requests .parent .details p {
     line-height: 25px;
     font-weight: 700
 }
 
 .donation-requests .parent .link-left {
     margin-top: 17px;
 }
 
 .donation-requests .parent .link-left a {
     padding: 12px 40px;
     background-color: #f1f1f1;
     color: #000;
     border: 1px #f1f1f1 solid;
 }
 
 .donation-requests .parent .link-left a:focus {
     outline: none;
 }
 
 .donation-requests .parent .link-left a:hover {
     color: #fff;
     background-color: #2d3e50;
     border-color: #2d3e50;
     box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
     -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
     -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
 }
 
 .pagination>li>a,
 .pagination>li>span {
     padding: 5px 10px;
     float: right;
     margin-right: 2px;
     border-radius: 0;
     text-align: center;
     color: #2d3e50;
     float: left;
 }
 
 .pagination>li>a:hover,
 .pagination>li>span:hover {
     background-color: #2d3e50;
     color: #fff
 }
 
 .pagination>li:first-child>a,
 .pagination>li:first-child>span,
 .pagination>li:last-child>a,
 .pagination>li:last-child>span {
     border-radius: 0
 }
 /*===============================================*/
 /****  end donation-request-page ****/
 /*===============================================*/
 /*===============================================*/
 /****  start contact-Us-home ****/
 /*===============================================*/
 
 .contact-Us-home {
     background: url(../imgs/call.jpg) no-repeat center center;
     background-size: cover;
     padding: 30px 0
 }
 
 .contact-Us-home h4 {
     position: relative;
     display: inline-block;
     padding-bottom: 5px;
     margin: 10px 0;
     font-size: 18px;
     font-weight: 700;
     color: #db1113
 }
 
 .contact-Us-home h4:after {
     position: absolute;
     display: block;
     content: '';
     bottom: -4px;
     right: 0;
     width: 100%;
     height: 3px;
     background-color: #db1113
 }
 
 .contact-Us-home p {
     margin: 10px 0;
     font-weight: 700
 }
 
 .contact-Us-home .icon {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 12px;
     letter-spacing: .8px;
     margin: 20px auto;
     position: relative;
     width: 280px;
     height: 40px;
     background-color: #369538;
     border-radius: 40px
 }
 
 .contact-Us-home .icon a {
     color: #fff
 }
 
 .contact-Us-home .icon>img {
     width: 55px;
     height: 55px;
     position: absolute;
     left: -4px;
     top: -7px
 }
 /*===============================================*/
 /****  end contact-Us-home ****/
 /*===============================================*/
 /*===============================================*/
 /****  start our-apps ****/
 /*===============================================*/
 
 .our-apps {
     padding: 15px 0 30px;
     background: url('../imgs/BG-phone.png');
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover
 }
 
 .our-apps .data,
 .our-apps .img-parent {
     margin-top: 15px
 }
 
 .our-apps .data h4 {
     font-size: 25px;
     font-weight: 700;
     margin: 20px 0 25px
 }
 
 .our-apps .data p {
     margin: 15px 0
 }
 
 .our-apps .data .title {
     margin: 45px 0 20px;
     text-align: center;
     font-size: 16px;
     font-weight: 700;
 }
 
 .our-apps .img-parent>a {
     width: 100%;
     display: block;
     text-align: center;
 }
 
 .our-apps .img-parent>a>img {
     max-width: 100%;
 }
 /*===============================================*/
 /****  end our-apps ****/
 /*===============================================*/
 /*===============================================*/
 /****  start about-page-topinfo ****/
 /*===============================================*/
 
 .top-header .top-info .new-acc-info {
     padding: 3px
 }
 
 .top-header .top-info .new-acc-info a {
     color: #fff
 }
 
 .top-header .login-info {
     padding: 3px 5px 3px 3px;
     margin-right: 5px;
     display: inline-block;
     border-right: 1px solid rgba(255, 255, 255, .2);
 }
 
 .top-header .login-info a {
     color: #db1113
 }
 /*===============================================*/
 /****  end about-page-topinfo ****/
 /*===============================================*/
 /*===============================================*/
 /****  start about-page ****/
 /*===============================================*/
 
 .about-data {
     padding: 30px 0;
     background-color: #fbfbfb
 }
 
 .about-data .heading-title .breadcrumb {
     padding: 12px;
     margin-bottom: 0;
     border: 1px solid #f1f1f1;
     background-color: #fff;
     border-radius: 0;
 }
 
 .about-data .heading-title .breadcrumb a {
     color: #848484
 }
 
 .about-data .heading-title .breadcrumb>li:last-child a {
     color: #2d3e50
 }
 
 .about-data .about {
     margin-top: 25px;
     padding: 60px;
     background-color: #fff;
     border: 1px solid #f1f1f1
 }
 
 .about-data .about .about-text {
     margin-top: 30px
 }
 
 .about-data .about .about-text p {
     margin-top: 22px;
     line-height: 24px
 }
 /*===============================================*/
 /****  end about-page ****/
 /*===============================================*/
 /*===============================================*/
 /****  start inside-donation-req-page ****/
 /*===============================================*/
 
 .inside-donation-req {
     padding: 30px 0;
     background-color: #fbfbfb
 }
 
 .inside-donation-req .heading-title .breadcrumb {
     padding: 12px;
     margin-bottom: 0;
     border: 1px solid #f1f1f1;
     background-color: #fff;
     border-radius: 0;
 }
 
 .inside-donation-req .heading-title .breadcrumb a {
     color: #848484
 }
 
 .inside-donation-req .heading-title .breadcrumb>li:last-child a {
     color: #2d3e50
 }
 
 .inside-donation-req .talab {
     margin-top: 25px;
     padding: 20px;
     padding-top: 5px;
     background-color: #fff;
     border: 1px solid #f1f1f1
 }
 
 .inside-donation-req .talab .talab-bianat .my-info .parent {
     background-color: #fbfbfb;
     border: 1px solid #f1f1f1;
     margin-top: 15px;
 }
 
 .inside-donation-req .talab .talab-bianat .my-info .parent span {
     display: inline-block;
     height: 100% !important;
     padding: 10px;
     font-size: 13px
 }
 
 .inside-donation-req .talab .talab-bianat .my-info .parent span:first-child {
     width: 35%;
     background-color: #f4f4f4
 }
 
 .inside-donation-req .talab .talab-bianat .my-info .parent span:last-child {
     width: 62%;
     background-color: #fbfbfb
 }
 
 .inside-donation-req .talab .know-more {
     text-align: center;
     padding: 10px;
     margin: 25px 0 15px;
 }
 
 .inside-donation-req .talab .know-more a {
     background-color: #2d3e50;
     color: #fff;
     padding: 8px 50px
 }
 
 .inside-donation-req .talab .know-more a:hover {
     box-shadow: 0 4px 3px rgba(0, 0, 0, .4);
     -webkit-box-shadow: 0 4px 3px rgba(0, 0, 0, .4);
     -moz-box-shadow: 0 4px 3px rgba(0, 0, 0, .4)
 }
 
 .inside-donation-req .talab .talab-text {
     margin-top: 30px;
     padding: 20px;
     padding-top: 0;
     border: 1px solid #f1f1f1
 }
 
 .inside-donation-req .talab .talab-text p {
     margin-top: 22px;
     line-height: 24px
 }
 
 .inside-donation-req .talab .google-map {
     margin-top: 30px;
     border: 1px solid #f1f1f1;
 }
 
 .inside-donation-req .talab .google-map iframe {
     width: 100%;
     border: 0;
 }
 /*===============================================*/
 /****  start inside-donation-req-page ****/
 /*===============================================*/
 /*====================  ===========================*/
 /*===============================================*/
 /****  start start newacc-page ****/
 /*===============================================*/
 
 .new-acc {
     position: relative;
     padding: 30px 0;
     background-color: #fbfbfb
 }
 
 .new-acc .heading-title .breadcrumb {
     padding: 12px;
     margin-bottom: 0;
     border: 1px solid #f1f1f1;
     background-color: #fff;
     border-radius: 0;
 }
 
 .new-acc .heading-title .breadcrumb a {
     color: #848484
 }
 
 .new-acc .heading-title .breadcrumb>li:last-child a {
     color: #2d3e50
 }
 
 .new-acc .update-form {
     margin-top: 25px;
     padding: 30px;
     background-color: #fff;
     border: 1px solid #f1f1f1
 }
 
 .new-acc .update-form .form-group {
     margin-top: 25px;
     position: relative;
 }
 
 @media(min-width: 1199px) {
     .new-acc .update-form .form-group {
         margin: 25px auto 0;
         width: 85%;
     }
 }
 
 .new-acc .update-form .form-group .form-control {
     position: relative;
     padding: 25px 12px;
     border-radius: 0;
     background-color: #fbfbfb;
     border: 1px solid #f1f1f1;
     color: #111
 }
 
 .new-acc .update-form .form-group .myemail {
     text-align: left;
 }
 
 .new-acc .update-form .form-group i {
     position: absolute;
     top: 15px;
     left: 15px;
     font-size: 20px;
     display: inline-block;
 }
 
 .new-acc .update-form .select-wrapper {
     position: relative;
 }
 
 .new-acc .update-form .select-wrapper:focus,
 .new-acc .update-form .select-wrapper:active {
     border-color: #f1f1f1;
     outline: none;
     outline-color: #f1f1f1
 }
 
 .new-acc .update-form .select-wrapper:after {
     font-family: FontAwesome;
     content: '\f107';
     font-size: 28px;
     position: absolute;
     top: 4px;
     left: 20px;
     color: #434B67;
     pointer-events: none;
 }
 
 .new-acc .update-form select {
     background: #fbfbfb;
     border: 1px solid #f1f1f1;
     border-radius: 0;
     width: 100%;
     padding: 13px;
     -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearance: none;
     -o-appearance: none;
     appearance: none;
 }
 
 .new-acc .update-form button {
     position: relative;
     margin: 25px auto 5px;
     display: block;
     background-color: #354050;
     border: 1px #354050 solid;
     padding: 8px 100px;
     border-radius: 0;
     color: #fff;
     font-size: 15px;
 }
 
 .new-acc .update-form button:hover {
     box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
     -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
     -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, .4)
 }
 /*===============================================*/
 /****  end start newacc-page ****/
 /*===============================================*/
 /*===============================================*/
 /****  start login-data-page ****/
 /*===============================================*/
 
 .login-data {
     padding: 30px 0;
     background-color: #fbfbfb
 }
 
 .login-data .heading-title .breadcrumb {
     padding: 12px;
     margin-bottom: 0;
     border: 1px solid #f1f1f1;
     background-color: #fff;
     border-radius: 0;
 }
 
 .login-data .heading-title .breadcrumb a {
     color: #848484
 }
 
 .login-data .heading-title .breadcrumb>li:last-child a {
     color: #2d3e50
 }
 
 .login-data .login-box {
     margin-top: 25px;
     padding: 60px;
     background-color: #fff;
     border: 1px solid #f1f1f1
 }
 
 .login-data .login-box .login-form {
     margin-top: 30px
 }
 
 .login-data .login-box .login-form .form-group {
     margin-top: 25px
 }
 
 @media(min-width: 1199px) {
     .login-data .login-box .login-form .form-group {
         margin: 25px auto 0;
         width: 85%;
     }
 }
 
 .login-data .login-box .login-form .form-group .form-control {
     padding: 25px 12px;
     border-radius: 0;
     background-color: #fbfbfb;
     border: 1px solid #f1f1f1;
     color: #111
 }
 
 .login-data .login-box .login-form .checkbox {
     margin-top: 25px;
     position: relative;
 }
 
 @media(min-width: 1199px) {
     .login-data .login-box .login-form .checkbox {
         width: 85%;
         margin: 25px auto 0
     }
 }
 
 .login-data .login-box .login-form .checkbox .container {
     display: block;
     position: relative;
     padding-left: 35px;
     margin-bottom: 12px;
     cursor: pointer;
     font-size: 22px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
 
 .login-data .login-box .login-form .checkbox .container input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
     height: 0;
     width: 0;
 }
 
 .login-data .login-box .login-form .checkbox .checkmark {
     position: absolute;
     top: 10px;
     right: 0;
     height: 20px;
     width: 20px;
     background-color: #e0e0e0;
 }
 
 .login-data .login-box .login-form .checkbox .container:hover input~.checkmark {
     background-color: #e0e0e0;
 }
 
 .login-data .login-box .login-form .checkbox .container input:checked~.checkmark {
     background-color: #2196F3;
 }
 
 .login-data .login-box .login-form .checkbox .checkmark:after {
     content: "";
     position: absolute;
     display: none;
 }
 
 .login-data .login-box .login-form .checkbox .container input:checked~.checkmark:after {
     display: block;
 }
 
 .login-data .login-box .login-form .checkbox .container .checkmark:after {
     left: 9px;
     top: 5px;
     width: 5px;
     height: 10px;
     border: solid white;
     border-width: 0 3px 3px 0;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
 }
 
 .login-data .login-box .login-form .checkbox .myText {
     margin-right: 15px;
     font-size: 15px;
     color: #111
 }
 
 .login-data .login-box .login-form .checkbox .warning {
     position: absolute;
     left: 0;
     top: 7px
 }
 
 .login-data .login-box .login-form .checkbox .warning i {
     display: inline-block;
     margin-left: 7px;
     color: #ffa100
 }
 
 .login-data .login-box .login-form .checkbox .warning a {
     color: #111
 }
 
 .login-data .login-form .old-parent {
     margin-top: 50px
 }
 
 .login-data .old-parent button {
     background-color: #39b54a;
     color: #fff;
     padding: 11px 100px;
     border: 1px #39b54a solid;
 }
 
 .login-data .old-parent button:hover {
     box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
     -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
     -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
     color: #fff
 }
 
 .login-data .old-parent a {
     display: inline-block;
     padding: 8px 63px;
     background-color: #2d3e50;
     border-radius: 0;
     border: 3px solid #2d3e50;
     color: #fff;
 }
 
 .login-data .old-parent a:hover {
     box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
     -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
     -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
     color: #fff
 }
 /*===============================================*/
 /****  end login-data-page ****/
 /*===============================================*/
 /*===============================================*/
 /****  start new-acc-my-info ****/
 /*===============================================*/
 
 .new-acc-my-info {
     position: relative;
     padding: 30px 0;
     background-color: #fbfbfb
 }
 
 .new-acc-my-info .heading-title .breadcrumb {
     padding: 12px;
     margin-bottom: 0;
     border: 1px solid #f1f1f1;
     background-color: #fff;
     border-radius: 0;
 }
 
 .new-acc-my-info .heading-title .breadcrumb a {
     color: #848484
 }
 
 .new-acc-my-info .heading-title .breadcrumb>li:last-child a {
     color: #2d3e50
 }
 
 .new-acc-my-info .update-form {
     margin-top: 25px;
     padding: 30px;
     background-color: #fff;
     border: 1px solid #f1f1f1
 }
 
 .new-acc-my-info .update-form .form-group {
     margin-top: 25px;
     position: relative;
 }
 
 @media(min-width: 1199px) {
     .new-acc-my-info .update-form .form-group {
         margin: 25px auto 0;
         width: 85%;
     }
 }
 
 .new-acc-my-info .update-form .form-group .form-control {
     position: relative;
     padding: 25px 12px;
     border-radius: 0;
     background-color: #fbfbfb;
     border: 1px solid #f1f1f1;
     color: #111
 }
 
 .new-acc-my-info .update-form .form-group .myemail {
     text-align: left;
 }
 
 .new-acc-my-info .update-form .form-group i {
     position: absolute;
     top: 15px;
     left: 15px;
     font-size: 20px;
     display: inline-block;
 }
 
 .new-acc-my-info .update-form .select-wrapper {
     position: relative;
 }
 
 .new-acc-my-info .update-form .select-wrapper:focus,
 .new-acc-my-info .update-form .select-wrapper:active {
     border-color: #f1f1f1;
     outline: none;
     outline-color: #f1f1f1
 }
 
 .new-acc-my-info .update-form .select-wrapper:after {
     font-family: FontAwesome;
     content: '\f107';
     font-size: 28px;
     position: absolute;
     top: 4px;
     left: 20px;
     color: #434B67;
     pointer-events: none;
 }
 
 .new-acc-my-info .update-form select {
     background: #fbfbfb;
     border: 1px solid #f1f1f1;
     border-radius: 0;
     width: 100%;
     padding: 13px;
     -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearance: none;
     -o-appearance: none;
     appearance: none;
 }
 
 .new-acc-my-info .update-form button {
     position: relative;
     margin: 25px auto 5px;
     display: block;
     background-color: #354050;
     border: 1px #354050 solid;
     padding: 8px 100px;
     border-radius: 0;
     color: #fff;
     font-size: 15px;
 }
 
 .new-acc-my-info .update-form button:hover {
     box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
     -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
     -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, .4)
 }
 /*===============================================*/
 /****  end new-acc-my-info ****/
 /*===============================================*/
 /*===============================================*/
 /****  start article-details-page ****/
 /*===============================================*/
 
 .articles {
     padding: 30px 0;
     background-color: #fbfbfb
 }
 
 .articles .heading-title .breadcrumb {
     padding: 12px;
     margin-bottom: 0;
     border: 1px solid #f1f1f1;
     background-color: #fff;
     border-radius: 0;
 }
 
 .articles .heading-title .breadcrumb a {
     color: #848484
 }
 
 .articles .heading-title .breadcrumb>li:last-child a {
     color: #2d3e50
 }
 
 .articles .article-title {
     margin-top: 15px
 }
 
 .articles .article-title h3 {
     /*display: flex;
    align-items: center;*/
     padding: 12px;
     color: #fff;
     font-size: 15px;
     background-color: #2d3e50
 }
 
 .articles .article-title h3 span,
 .articles .article-title h3 a {
     display: inline-block;
 }
 
 .articles .article-title h3 a {
     float: left;
     margin-top: -7px;
     color: #fff;
     border: 1px solid #fff;
     border-radius: 50%;
     width: 30px;
     height: 30px;
     text-align: center;
     line-height: 30px
 }
 
 .articles .article-details {
     margin-top: 25px;
     padding: 60px;
     background-color: #fefefe;
     border: 1px solid #f1f1f1
 }
 
 .articles .article-details .about-text {
     padding: 10px;
     margin-top: 10px;
     background-color: #fff;
     border: 1px solid #f1f1f1
 }
 
 .articles .article-details .about-text p {
     margin-top: 15px;
     line-height: 24px
 }
 
 .articles .article-details .about-text p:first-child {
     margin-top: 1px
 }
 /************ other-articles *********************/
 
 .other-articles {
     position: relative;
     padding: 30px 0;
     background-color: #fbfbfb
 }
 
 .other-articles .title h3 {
     position: relative;
     padding: 1px 0 10px 0;
     border-bottom: 1px solid #ddd;
 }
 
 .other-articles .title h3:after {
     position: absolute;
     display: block;
     background-color: #db1113;
     content: '';
     bottom: -2px;
     right: 0;
     width: 90px;
     height: 3px
 }
 
 .other-articles .other {
     margin-top: 30px;
 }
 
 .other-articles .owl-carousel {
     position: relative;
     margin-top: 15px;
 }
 
 .other-articles .owl-carousel .parent {
     position: relative;
     padding: 2px;
     border: 1px solid #f1f1f1;
 }
 
 .other-articles .owl-carousel .parent>.img-parent>.icon {
     position: absolute;
     top: 10px;
     left: 10px;
     width: 35px;
     height: 35px;
     color: #fff;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #2d3e51
 }
 
 .other-articles .owl-carousel .parent>.content {
     padding: 10px 0;
 }
 
 .other-articles .content h4 {
     margin: 10px 2px;
 }
 
 .other-articles .content h4 a {
     font-size: 15px;
     color: #db1113
 }
 
 .other-articles .content h4 a:hover {
     opacity: .67
 }
 
 .other-articles .content p {
     margin: 10px 2px;
     line-height: 24px;
     font-size: 13px
 }
 
 .other-articles .content .details {
     display: block;
     width: 130px;
     text-align: center;
     margin: 5px auto !important;
     padding: 5px 40px;
     background-color: #2d3e51;
     border: 1px solid #2d3e51;
     color: #fff
 }
 
 .other-articles .content .details:hover {
     box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
     -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, .4);
     -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, .4)
 }
 
 .other-articles .content .details:hover,
 .articles-slider .content .details:focus {
     outline: none !important;
 }
 
 .other-articles .owl-theme .owl-dots {
     display: none;
 }
 
 .other-articles .owl-theme .owl-nav {
     position: absolute;
     width: 70px;
     left: 0;
     top: -90px
 }
 
 .other-articles .owl-theme .owl-nav [class*=owl-] {
     font-size: 55px;
     font-weight: 700;
     /*background-color: #db1113;*/
     /*padding: 0  10px !important;*/
     border-radius: 0;
     color: #db1113
 }
 
 .other-articles .owl-theme .owl-nav [class*=owl-]:hover,
 .articles .owl-theme .owl-nav [class*=owl-]:focus {
     background: none;
     outline: none;
 }
 /*===============================================*/
 /****  end article-details-page ****/
 /*===============================================*/
 /*===============================================*/
 /****  start contactus-page ****/
 /*===============================================*/
 
 .contactus {
     padding: 30px 0;
     background-color: #fbfbfb
 }
 
 .contactus .heading-title .breadcrumb {
     padding: 12px;
     margin-bottom: 0;
     border: 1px solid #f1f1f1;
     background-color: #fff;
     border-radius: 0;
 }
 
 .contactus .heading-title .breadcrumb a {
     color: #848484
 }
 
 .contactus .heading-title .breadcrumb>li:last-child a {
     color: #2d3e50
 }
 
 .contactus .call {
     margin-top: 25px;
     background-color: #fff;
     border: 1px solid #f1f1f1
 }
 
 .contactus .call h5 {
     background-color: #2d3e50;
     text-align: center;
     color: #fff;
     padding: 10px 0
 }
 
 .contactus .call .call-logo {
     padding: 40px 0;
 }
 
 .contactus .call .call-data {
     border-top: 1px solid #f1f1f1;
 }
 
 .contactus .call .call-data .data {
     padding: 20px
 }
 
 .contactus .call .call-data .data p {
     margin: 10px 1px;
     font-weight: 500;
     font-size: 15px;
     letter-spacing: .5px
 }
 
 .contactus .call .call-data .data .social {
     margin-top: 40px
 }
 
 .contactus .call .call-data .data .social h6 {
     text-align: center;
     color: #db1113;
     font-size: 17px;
     font-weight: 700;
     margin: 20px 0
 }
 
 .contactus .call .call-data .data .social ul {
     display: flex;
     justify-content: center;
 }
 
 .contactus .call .call-data .data .social ul li {
     padding: 10px;
     margin-top: 2px
 }
 
 .contactus .call .call-data .data .social ul li .call-link {
     display: block;
     font-size: 19px;
     color: #fff;
     width: 35px;
     height: 35px;
     line-height: 35px;
     text-align: center;
 }
 
 .contactus .call .call-data .data .social ul li:first-child .call-link {
     background-color: #c04c3c
 }
 
 .contactus .call .call-data .data .social ul li:nth-child(2) .call-link {
     background-color: #7bd650
 }
 
 .contactus .call .call-data .data .social ul li:nth-child(3) .call-link {
     background-color: #ab3ca2
 }
 
 .contactus .call .call-data .data .social ul li:nth-child(4) .call-link {
     background-color: #bf4832
 }
 
 .contactus .call .call-data .data .social ul li:nth-child(5) .call-link {
     background-color: #74aaee
 }
 
 .contactus .call .call-data .data .social ul li:last-child .call-link {
     background-color: #45569c
 }
 
 .contactus .call .call-data .data .social ul li .call-link:hover {
     opacity: .65
 }
 /******************/
 
 .contactus .contact {
     margin-top: 25px;
     background-color: #fff;
     border: 1px solid #f1f1f1
 }
 
 .contactus .contact h5 {
     background-color: #2d3e50;
     text-align: center;
     color: #fff;
     padding: 10px 0
 }
 
 .contactus .contact .login-form {
     padding: 20px
 }
 
 .contactus .contact .login-form form .form-group .form-control {
     outline: 0;
     border-radius: 0
 }
 
 .contactus .contact .login-form form .form-group .form-control:focus {
     outline: 0;
 }
 
 .contactus .contact .login-form form textarea {
     border-radius: 0;
     resize: none;
     height: 160px;
     outline: 0
 }
 
 .contactus .contact .login-form form textarea::plceholder {
     color: #f1f1f1
 }
 
 .contactus .contact .login-form form button {
     border-radius: 0;
     border: 1px solid #2d3e50;
     padding: 5px 0;
     width: 100%;
     margin-top: 13px;
     background-color: #2d3e50;
     color: #fff
 }
 /*===============================================*/
 /****  end contactus-page ****/
 /*===============================================*/
 /*===============================================*/
 /****  start update-data-page ****/
 /*===============================================*/
 
 .update-data {
     padding: 30px 0;
     background-color: #fbfbfb
 }
 
 .update-data .heading-title .breadcrumb {
     padding: 12px;
     margin-bottom: 0;
     border: 1px solid #f1f1f1;
     background-color: #fff;
     border-radius: 0;
 }
 
 .update-data .heading-title .breadcrumb a {
     color: #848484
 }
 
 .update-data .heading-title .breadcrumb>li:last-child a {
     color: #2d3e50
 }
 
 .update-data .update {
     margin-top: 25px;
     padding: 60px;
     background-color: #fff;
     border: 1px solid #f1f1f1
 }
 /*===============================================*/
 /****   end update-data-page ****/
 /*===============================================*/
 /*===============================================*/
 /****   start footer ****/
 /*===============================================*/
 
 footer .top-footer {
     padding: 30px 0;
     background-color: #1a1f25;
 }
 
 footer .top-footer .foot-textcontent,
 footer .top-footer .foot-links,
 footer .top-footer .foot-site-apps {
     padding-right: 15px;
     margin-top: 10px;
 }
 
 footer .top-footer .foot-textcontent .foot-logo>img {
     width: 38%
 }
 
 footer .top-footer .foot-textcontent h1 {
     margin-top: 20px;
     font-size: 19px;
 }
 
 footer .top-footer .foot-textcontent h1 a {
     color: #fff
 }
 
 footer .top-footer .foot-textcontent h1 a:hover {
     color: #db1113
 }
 
 footer .top-footer .foot-textcontent p {
     color: #fff;
     margin-top: 20px;
     line-height: 25px;
     font-size: 12px
 }
 
 footer .top-footer .foot-links ul li {
     padding: 7px;
 }
 
 footer .top-footer .foot-links ul li a {
     color: #fff;
     font-size: 12px
 }
 
 footer .top-footer .foot-links ul li a:hover {
     color: #db1113;
     padding-right: 10px
 }
 
 footer .top-footer .foot-site-apps {
     color: #db1113
 }
 
 footer .top-footer .foot-site-apps p {
     color: #db1113
 }
 
 footer .top-footer .foot-site-apps .f-apps {
     margin-top: 20px
 }
 
 footer .top-footer .foot-site-apps .f-apps a {
     display: block;
 }
 
 footer .top-footer .foot-site-apps .f-apps img {
     margin-top: 20px;
     display: block;
     max-width: 100%
 }
 /*================= bottom-footer =====================*/
 
 footer .bottom-footer {
     background-color: #14171b;
     padding: 5px 0;
     color: #fff
 }
 
 footer .bottom-footer .social {
     display: flex;
     align-items: center;
 }
 
 footer .bottom-footer .social ul {
     padding: 0;
     margin: 0;
     display: flex;
     align-items: center
 }
 
 footer .bottom-footer .social ul li {
     padding: 10px;
 }
 
 footer .bottom-footer .social ul li a {
     color: #fff;
     text-align: center;
     margin-top: 5px;
     display: block
 }
 
 footer .bottom-footer .social ul li a:hover {
     opacity: .65;
 }
 
 footer .bottom-footer .copyrights {
     color: #fff;
     margin-top: 15px;
     font-size: 13px
 }
 
 footer .bottom-footer .copyrights a {
     color: #db1113
 }
 /*===============================================*/
 /****   end footer ****/
 /*===============================================*/
 /*===============================================*/
 /****  start top-bottom ****/
 /*===============================================*/
 
 .top-bottom {
     position: fixed;
     bottom: 5px;
     right: 20px;
     width: 40px;
     height: 40px;
     line-height: 40px;
     text-align: center;
     color: #fff;
     background-color: #db1113;
     font-size: 20px;
     cursor: pointer;
     display: none
 }
 /*===============================================*/
 /****  end top-bottom ****/
 /*===============================================*/
 /*===============================================*/
 /****  start loading ****/
 /*===============================================*/
 
 .loading {
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     position: absolute;
     z-index: 9999999999999999999999999999999999999999;
     text-align: center;
     background-color: #2d3e50
 }
 
 .spinner {
     width: 40px;
     height: 40px;
     position: absolute;
     left: 50%;
     top: 250px;
     text-align: center;
     -webkit-animation: sk-rotate 2.0s infinite linear;
     animation: sk-rotate 2.0s infinite linear;
 }
 
 .dot1,
 .dot2 {
     width: 60%;
     height: 60%;
     display: inline-block;
     position: absolute;
     top: 0;
     background-color: #db1113;
     border-radius: 100%;
     -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
     animation: sk-bounce 2.0s infinite ease-in-out;
 }
 
 .dot2 {
     top: auto;
     bottom: 0;
     -webkit-animation-delay: -1.0s;
     animation-delay: -1.0s;
 }
 
 @-webkit-keyframes sk-rotate {
     100% {
         -webkit-transform: rotate(360deg)
     }
 }
 
 @keyframes sk-rotate {
     100% {
         transform: rotate(360deg);
         -webkit-transform: rotate(360deg)
     }
 }
 
 @-webkit-keyframes sk-bounce {
     0%,
     100% {
         -webkit-transform: scale(0.0)
     }
     50% {
         -webkit-transform: scale(1.0)
     }
 }
 
 @keyframes sk-bounce {
     0%,
     100% {
         transform: scale(0.0);
         -webkit-transform: scale(0.0);
     }
     50% {
         transform: scale(1.0);
         -webkit-transform: scale(1.0);
     }
 }
 /*===============================================*/
 /****  end loading ****/
 /*===============================================*/